.sorter--container {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.sorter--handler-container {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 66, 141);
  color: #fff;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sorter--handler-container:hover {
  background-color: rgba(0, 66, 141, 0.7);
}

.sorting--selected {
  background-color: rgba(0, 66, 141, 0.7);
}
