.button--submit {
  border: none;
  font-weight: 600;
  padding: 0.5rem;
  height: 41px;
  margin-left: 1rem;
  background-color: rgb(78, 168, 247);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button--submit:hover {
  background-color: rgba(78, 168, 247, 0.7);
}
